h1.fr{
    background-color: rgb(10, 10, 10);
    font-size: 45px;
    color:rgb(175, 64, 133)
    }
    .complemento{
      font-family: Geneva;
      font: size 70px;  
  }
   .princesas{
       background-color: bisque;
       font-family:cursive;
       font-size: 29px;
   }
   .Rapunzel{
       width: 600px;
   }
   .princess{
       width: 606px;
   }
   .mei{
       font-family:cursive
   }
   .AN{
       background-color:bisque;
       font-size:29px;
       font-family: cursive;
   }
   .AND{
    width: 550px;
   }
.NOE{
    font-family: cursive;
}
.ANG{
    background-color: bisque;
    font-size: 29px;
    font-family: cursive;
.DE{

}
}
.EN{
    width: 600px;
}
.gy{
    width: 600px;
}
.a{
    font-family: cursive;
}
.W{
    background-color: bisque;
    font-size: 29px;
    font-family: cursive;
}
.ariel{
    width:600px;
}
.eric{
    width: 646px;
}
.x{
    font-family:cursive;
}
.mo{
    background-color: bisque;
    font-size: 29px;
    font-family: cursive;
}
.MOANA{
    width: 600px;
}
.moana{
    width: 703px;
}
.maui{
    font-family:cursive;
}
.poca{
    background-color: bisque;
    font-size: 29px;
    font-family: cursive;
}

.loca{
    width: 750px;
}
.Q{
    font-family: cursive;
}