h1.fr{
    background-color: black;
    font-style: italic;
    color: rgb(218, 23, 153);
    font-size: 44px;
}
    .complemento{
      font-style: italic;
      font: size 70px;  
  }
   .princesas{
       background-color: bisque;
       color: rgb(221, 27, 156);
       font-family:cursive;
       font-size: 31px;
   }
   .pri{
       font-family: cursive;
       font-size: 23px;
   }
   .Rapunzel{
       width: 640px;
   }
   .rapunzel{
       width: 646px;
   }
   .mei{
       font-family: Georgia;
   }
   .AN{
       background-color: bisque;
       color: rgb(160, 103, 212);
       font-family: cursive;
       font-size: 31px;
   }
   .JA{
       font-family: cursive;
       font-size: 23px;
   }
   .olaf{
       width: 640px;
   }
   .NOE{
       font-family: Georgia;
   }
   .ANG{
       background-color: bisque;
       color: rgb(221, 27, 156);
       font-family: cursive;
       font-size: 31px;
   }
   .DE{
       font-family: cursive;
       font-size: 23px;
   }
   .EN{
       width: 640px;
   }
   .gy{
       width: 640px;
   }
   .a{
       font-family: Georgia;
   }
   .W{
       background-color: bisque;
       color: rgb(160, 103, 212);
       font-family: cursive;
       font-size: 31px;
   }
   LO{
       font-family: cursive;
       font-size: 23px;
   }
   .ariel{
       width: 640px;
   }
   .eric{
       width: 689px;
   }
   .x{
       font-family: Georgia;
   }
   .mo{
       background-color: bisque;
       color: rgb(221, 27, 156);
       font-family: cursive;
       font-size: 31px;
   }
   .moa{
       font-family: cursive;
       font-size: 23px;
   }
   .moana{
       width: 640px;
   }
   .mooana{
       width: 685px;
   }
   .maui{
       font-family:Georgia;
   }
   .poca{
       background-color: bisque;
       color: rgb(160, 103, 212);
       font-family: cursive;
       font-size: 31px;
   }
   .hontas{
       font-family: cursive;
       font-size: 23px;
   }
   .loca{
       width: 640px;
   }
   .Q{
       font-family: Georgia;
   }