h1.fr{color:black
};

      .complemento{
      font-family: cursive;
      font: size 70px;
      
  }

   .princesas{
       font-family:Geneva;
       font-size: 25px;
   }
   .Rapunzel{
       width: 555px;
   }
   .rapunzel{
       width: 399px;   
   }
   